/PingArduino/PingArduino.vcxproj.user
/Debug/PingArduino.exe
/Debug/PingArduino.ilk
/Debug/PingArduino.pdb
/PingArduino/Debug/PingArduino.lastbuildstate
/PingArduino/Debug/PingArduino.log
/PingArduino/Release/PingArduino.lastbuildstate
/PingArduino/Release/PingArduino.log
/PingArduino/Release/TestArduino.Build.CppClean.log
/Release/TestArduino.zip
/TestArduino.suo
/TestArduino.v12.suo
/*.opensdf
Release
Debug
/*.sdf
/ArduinoCommSuite/*.opensdf
/ArduinoCommSuite/*.sdf
/ArduinoCommSuite/*.suo
/ArduinoCommSuite/ipch/arduinocommdll-e08f06db/arduinocommdll-aedf6606.ipch
/ArduinoCommSuite/ipch/arduinocommdll-e08f06db/*.ipch
/ArduinoCommSuite/ipch/arduinocommdll-b06502c2/*.ipch
/ArduinoCommSuite/MatLab
MatLab
