/ArduinoCommSuite/ipch
/ArduinoCommSuite/*.sdf
/ArduinoCommSuite/*.opensdf
/ArduinoCommSuite/*.suo
/ArduinoCommSuite/Output
/ArduinoCommSuite/ArduinoCommTest/Intermediate
/ArduinoCommSuite/ArduinoCommTest/*.user
/ArduinoCommSuite/ArduinoCommDLL/Intermediate
/ArduinoCommSuite/ArduinoCommDLL/*.user
/PrototypeCommTest/*.sdf
/PrototypeCommTest/*.opensdf
/PrototypeCommTest/*.suo
/PrototypeCommTest/Output
/PrototypeCommTest/PrototypeCommTest/Intermediate
/PrototypeCommTest/PrototypeCommTest/*.user