/ArduinoCommSuite/ipch
/ArduinoCommSuite/*.sdf
/ArduinoCommSuite/*.opensdf
/ArduinoCommSuite/*.suo
/ArduinoCommSuite/*.layout
/ArduinoCommSuite/Output
/ArduinoCommSuite/ArduinoCommTest/Intermediate
/ArduinoCommSuite/ArduinoCommTest/*.user
/ArduinoCommSuite/ArduinoCommTest/*.layout
/ArduinoCommSuite/ArduinoCommTest/*.depend
/ArduinoCommSuite/ArduinoCommTest/*.gch
/ArduinoCommSuite/ArduinoCommDLL/Intermediate
/ArduinoCommSuite/ArduinoCommDLL/*.user
/ArduinoCommSuite/ArduinoCommDLL/*.layout
/ArduinoCommSuite/ArduinoCommDLL/*.depend
/ArduinoCommSuite/ArduinoCommDLL/*.gch
/ArduinoCommSuite/ArduinoCommSpeedTest/Intermediate
/ArduinoCommSuite/ArduinoCommSpeedTest/*.user
/ArduinoCommSuite/ArduinoCommSpeedTest/*.layout
/ArduinoCommSuite/ArduinoCommSpeedTest/*.depend
/ArduinoCommSuite/ArduinoCommSpeedTest/*.gch
/PrototypeCommTest/*.sdf
/PrototypeCommTest/*.opensdf
/PrototypeCommTest/*.suo
/PrototypeCommTest/Output
/PrototypeCommTest/PrototypeCommTest/Intermediate
/PrototypeCommTest/PrototypeCommTest/*.user
/BuiltLibs/OutputCopy
